/*
! source:
! https://dev.to/thelamina/using-custom-fonts-in-tailwind-css-5doi
*/
@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-white;
  }
  h1 {
    @apply font-primary;
    @apply text-5xl;
    @apply font-bold;
  }
  h2 {
    @apply font-primary;
    @apply text-4xl;
    @apply font-bold;
  }
  h3 {
    @apply font-primary;
    @apply text-3xl;
    @apply font-bold;
  }
  h4 {
    @apply font-primary;
    @apply text-2xl;
    @apply font-bold;
  }
  h5 {
    @apply font-primary;
    @apply text-xl;
    @apply font-bold;
  }
  h6 {
    @apply font-primary;
    @apply text-lg;
    @apply font-bold;
  }
}

@layer components {
  .line-number-style {
    /* display: inline-block;
    width: 1.2em;
    user-select: none;
    opacity: 0.3;
    color: #dcd9e6;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    position: relative; */
  }

  /* .token-line {
    border-left: 3px solid transparent;
  } */

  .token-line.highlight-line {
    background-color: rgb(53, 59, 69);
    display: block;
    margin-right: -1em;
    margin-left: -1em;
    padding-right: 1em;
    padding-left: 0.75em;
    border-left: 0.25em solid #c92c94;
  }
}
